.sidebar {
  width: 220px;
  background-color: #d3d3d3;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  padding-top: 1rem;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #374151;
}

.perfil-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.perfil-info h3 {
  margin: 0;
  font-size: 1rem;
  color: #3f3f3f;
}

.perfil-info p {
  margin: 0;
  font-size: 0.8rem;
  color: #3f3f3f;
}

.logout-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  border: none;
  background: none;
  color: #3f3f3f;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s, color 0.2s;
}

.menu-item:hover {
  background-color: #949494;
  color: #fff;
}

.menu-item.active {
  background-color: #929292;
  color: #fff;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.menu-label {
  flex: 1;
}
