.sidebar {
  width: 220px;
  background-color: #636363;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
  cursor: pointer;
  transition: color 0.2s;
}

.sidebar-menu li a {
  color: white;          
  text-decoration: none; 
  display: block;        
  padding: 8px 16px;     /
}

.sidebar-menu li a:hover {
  color: #ddd;       
}
